@import './Color.scss';

@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

html, body{
    margin: 0;
    padding: 0;
    overflow-x:hidden ;
    font-size: 16px;
    // font-family: 'Kanit', sans-serif;
    font-family: 'Itim', cursive;
}

*:focus{
    outline: unset;
    
}

a.line{
    text-decoration: unset;
}

.user-navbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: $main-color-text;
    justify-content: center;


    &.set-user-navbar{
        display: flex;
        width: 1000px;
        justify-content: flex-end;
        color: $second-color-text;
    
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $second-color-text;
            margin:0 10px;
            width: fit-content;
            padding: 0 10px 4px 10px;
            height: 100%;
            margin-bottom: 4px;
        }

        .active{
            border-bottom: 4px solid #ff3300;
        }
    }
}
.set-page{
    display: block;
    width: 1000px;
    min-height: calc(100vh - 210px - 1rem);// ควร set ไว้สำหรับหน้าเพจ
    margin-bottom: 1rem;
    color: $second-color-text;
    margin: 0 auto 1rem auto;
}
.user-footer{
    display: flex;
    background-color: $main-color;
    font-size: 1rem;
    width: 100%;
    height: 150px;
    justify-content: center;

}
.admin-navbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: $main-color-text;
    justify-content: center;


    &.set-admin-navbar{
        display: flex;
        width: 1000px;
        justify-content: flex-end;
        color: $second-color-text;
    
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $second-color-text;
            margin:0 10px;
            width: fit-content;
            padding: 0 10px 4px 10px;
            height: 100%;
            margin-bottom: 4px;
        }

        .active{
            border-bottom: 4px solid #ff3300;
        }
    }

}
.card{
    position:relative;
    display: block;
    width: 25%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
   i{
       position: absolute;
       right: 5px;
       top: 5px;

   }
    .card-img{
        width: 100%;
        height: 180px;
        overflow: hidden;
        object-position: center;
        object-fit: cover;
        img{
            width: 100%;
            height: 100%;
           
        }
    }
    .card-head{
        display: block;
        border: #ff6600;
        color: #ff0033;
           span,
           strong,
           p{
               display: flex;
               justify-content: center;
               align-items: center;
               padding: 0 20px;
               text-align: center;
           }
           strong{
               font-size: 2rem;
           }
        p{
            word-break: break-word
        }
    }
    .card-foot{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
       background-color: #ff6600;
        color: #ff0033;
        div{
            display: grid;
            grid-template-rows: auto auto;
            width: 100%;
            justify-content: center;
            align-items: center;
            // &:first-of-type{
            //     background-color: #00f;
            // }
            &:nth-child(n){
                background-color: #ff6600;
            }

        strong {
            font-size: 1.2rem;
            text-align: center;
        }
        }
    }
}